* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm{
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0AA6FE;
    border-radius: 5px 40px 5px 40px ;
}

.authForm h1{
    color: whitesmoke;
}

.authForm input{
    padding: 5px 10px;
    border-radius: 5px 30px 5px 30px;
    border: 0;
    outline: 0;
}

.authForm button{
    padding: 5px 25px;
    border-radius: 5px 30px 5px 30px;
    border: 0;
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    outline: 0;
    color: white;
}

.message{
    position: absolute;
    top: -25%;
    left: 30%;
    transition: 200ms;
}

@media (max-width: 426px) {
    .authForm{
        height: 200px;
        width: 300px;
    }

    .authForm h1{
        font-size: 24px;
    }

    .message{
        left: 20%;
    }
}