* {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Poppins', sans-serif;
	background: whitesmoke;
}

.containerNav {
	padding: 20px 0;
	display: flex;
	margin: 0 auto;
	align-items: center;
	width: 70%;
}

.searchInp {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 10px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border: 1px solid #cbcbcb;
	outline: 0;
}

.filterSelect {
	padding: 17px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 1px solid #cbcbcb;
	border-left: 0;
	background: linear-gradient(98.51deg, #ff9898 14.64%, #ff1f00 102.27%) black;
	color: whitesmoke;
	font-size: 17px;
	cursor: pointer;
}

.containerCard {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}


.card {
	width: 350px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(103.24deg, #05ffff -7.39%, #0aa6fe 85.9%);
	border-radius: 5px 40px 5px 40px;
	padding: 20px 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.53);
}

.card-body {
	height: 200px;
	width: 100%;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card h3 {
	font-size: 20px;
	color: whitesmoke;
	padding-bottom: 15px;
}

.card-footer .more {
	margin-top: 15px;
	padding: 10px 60px;
	border-radius: 30px;
	background: transparent;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	transition: 200ms;
}

.card-footer .more:hover {
	background-color: whitesmoke;
	color: #0aa6fe;
}

.addContainer {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addCharacter {
	padding: 15px 70px;
	margin-bottom: 50px;
	border: 0;
	border-radius: 5px 30px 5px 30px;
	background: linear-gradient(98.89deg, #ff9b05 25.06%, #ff8f3f 88.94%);
	color: white;
	font-size: 18px;
	transition: 400ms;
}

.addCharacter:hover {
	background: #fff;
	color: #ff9b05;
	border: 1px solid #ff8f3f;
	box-shadow: 0 0 10px #ff8f3f;
}

.side {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 100px;
	z-index: 100;
	transition: 400ms;
	cursor: pointer;
}

.side.clicked {
	right: 20rem;
	transform: rotate(180deg);
}

.sidebarContainer {
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #180a41;
	height: 100vh;
	z-index: 100;
	transition: 400ms;
}

.sidebarContainer.active {
	right: 0;
}

.sidebarContainer h3 {
	font-size: 25px;
	color: #fff;
	margin-bottom: 30px;
}

.sidebarContainer input {
	padding: 8px 20px;
	margin: 20px 0;
	border-radius: 30px 5px 30px 5px;
	border: 0;
	outline: 0;
}

.selectBg {
	padding: 5px 20px;
	margin: 20px;
	border-radius: 30px 5px 30px 5px;
	border: 0;
	outline: 0;
}

.sidebarContainer button {
	margin: 10px;
	padding: 5px 30px;
	border-radius: 30px 5px 30px 5px;
	border: 0;
}

.logout {
	padding: 5px 30px;
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-right: 30px;
	border-radius: 5px 40px 5px 40px;
	border: 0;
	outline: 0;
	background: linear-gradient(98.89deg, #ff9b05 25.06%, #ff8f3f 88.94%);
	color: white;
	transition: 400ms;
}

.logout:hover {
	background: #fff;
	color: #ff9b05;
	border: 1px solid #ff8f3f;
	box-shadow: 0 0 10px #ff8f3f;
}


@media (max-width: 768px) {
	.side{
		width: 87px;
	}
	.logout{
		padding: 2px 20px;
		font-size: 16px;
	}
	.containerNav{
		justify-content: space-around;
		width: 90%;
	}
	.searchInp{
		margin-left: -20px;
		padding: 10px 10px;
		width: 50%;
	}
	.filterSelect{
		padding: 8px 5px;
		font-size: 16px;
		margin-right: 75px;
	}
}

@media (max-width: 426px) {
	.logout{
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	.side{
		top: 0;
	}
	.side.clicked{
		left: 8rem;
	}
	.searchInp{
		width: 100%;
		margin: 50px auto 0 50px;
	}
	.filterSelect{
		margin-top: 50px;
	}
	.containerNav{
		width: 100%;
	}

	.sidebarContainer{
		width: 200px;
	}
	.sidebarContainer h3{
		font-size: 21px;
		text-align: center;
	}
	.sidebarContainer input{
		padding: 5px 0px;
		font-size: 13px;
		text-align: center;
	}

}